<article class="post-card {{post_class}}">

    <div class="post-card-content">

        <a class="" href="{{url}}"><h2>{{title}}</h2></a>
        <p class="color-sub-text color-text-h">{{date published_at format="MMMM DD, YYYY"}}</p>

    </div>{{!--/.post-card-content--}}

</article>
